.main {
  .main-overlay {
    background-color: transparent;
  }

  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    padding: 0;
    background: linear-gradient(
      to bottom,
      var(--background-color),
      var(--background-color-darker)
    );
    & > div:first-child {
      width: 100%;
    }
  }
}
