.table-messages-list {
  td.message-time {
    max-width: 15%;
    color: var(--primary-color);
  }

  td.message-username {
    text-align: center;
    max-width: 15%;
  }

  td.message {
    color: var(--font-color);
    overflow-y: auto;
    min-width: 100% !important;
    word-break: break-all;
    max-height: 5vh;
  }
}
