.url-params-inputs-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  button {
    width: 100%;
  }

  .filter-inputs {
    gap: 0.4rem;

    &.horizontal {
      display: flex;
      flex-direction: row;
      padding-bottom: 0.5rem;
      overflow-x: auto;
      & > * {
        flex-grow: 1;
      }
    }

    &.vertical {
      display: flex;
      flex-direction: column;
      overflow-x: auto;
    }
  }
}
