.overlay-editor-actions-wrapper {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  gap: 0.2rem;
  align-items: center;
  background-color: var(--primary-color);
  border-top-left-radius: 0.5rem;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
  & > * {
    padding: 0.3rem;
  }
}

.react-grid-image-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.react-grid-image-input-wrapper {
  background-color: var(--secondary-color);
  z-index: 100;
  display: flex;
  padding: 0.3rem;
  flex-direction: column;
}

.style-css-editor {
  z-index: 100;
}

.style-css-editor-modal-data-wrapper {
  .style-css-editor-head-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    overflow-x: hidden;
    & > button {
      margin: 0.05rem;
      flex-grow: 1;
    }
  }

  .style-css-editor-editing-overlay-wrapper {
    height: 50dvh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    .style-css-editor-edit-inputs-wrapper {
      padding-top: 0.5rem;
      border-top: 0.1rem solid var(--secondary-color);
      display: flex;
      justify-content: space-between;

      & > div:not(:first-child) {
        max-width: 70%;
        min-width: 70%;
        display: flex;
        flex-direction: column;
      }

      input {
        padding: 0.5rem;
        text-align: center;
      }

      .style-css-editor-edit-inputs-nested-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
