$min-animation-height: 1vw;
$max-animation-height: 2.5vw;

.loading-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  padding-block: 0.5rem;
  color: var(--primary-color);
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  height: 100%;

  & > .loading-content {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: transparent;
    min-width: 50%;
    & > div {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.4rem;
      background-color: var(--background-color);
      animation: animate 3s ease-in infinite;
      animation-delay: calc(-0.5s * sibling-index());
      &.dot {
        border-radius: 50%;
        background: var(--primary-color);
      }
    }
  }

  @keyframes animate {
    0% {
      width: $min-animation-height;
      height: $min-animation-height;
      opacity: 0.5;
      font-size: 0.5em;
      border-radius: 100%;
    }
    50% {
      width: $max-animation-height;
      height: $max-animation-height;
      opacity: 1;
      font-size: 1em;
      border-radius: 0.3rem;
    }
    100% {
      width: $min-animation-height;
      height: $min-animation-height;
      opacity: 0.5;
      font-size: 0.5em;
      border-radius: 100%;
    }
  }
}
