.sidebar-ul {
  list-style: none;
  font-size: 1.7vmin;
  margin: 0;
  padding: 1vw;
  position: relative;
  max-height: 90dvh;
  overflow-x: hidden;

  li {
    margin: 0.1rem;
    a,
    button {
      display: flex;
      width: 100%;
      text-align: center;
      height: 5vh;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .sidebar-ul {
    font-size: 4vw;
  }

  .connect-twitch {
    font-size: 4vw;
  }
}

@media screen and (max-width: $screen-lg) {
  .sidebar-ul {
    font-size: 3vw;
  }

  .connect-twitch {
    font-size: 3vw;
  }
}
