.grid-menu--actions-wrapper {
  position: absolute;
  bottom: 0;
  padding: 0.3rem;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
  background: var(--primary-color);
}

.grid-menu {
  width: 100%;
  display: flex;
  flex-direction: column;

  span {
    color: var(--warning-text-color);
    font-weight: bold;
  }

  &__header {
    justify-content: space-between;
  }
  &__edit-actions {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    font-size: 2vmin;
    color: var(--primary-color);
  }
  &__info-wrapper {
    display: flex;
    justify-content: space-around;
  }
  & > div {
    padding: 0.5rem;
    box-shadow: 1px 1px 1px 1px var(--background-color-darker);
    text-align: center;
  }

  &__toolbox {
    .grid-toolbox {
      display: flex;
      flex-wrap: wrap;
      height: 50%;
      overflow-x: hidden;
    }

    .grid-toolbox-title {
      text-align: center;
      top: 0;
    }

    .grid-toolbox-items {
      display: flex;
      flex-wrap: wrap;

      .grid-items-item {
        background: var(--warning-color);
        overflow-x: auto;
        box-shadow: 1px 1px 1px 1px var(--background-color-darker);
        padding: 0.3rem;
        border-radius: 0.5rem;

        &:hover {
          cursor: pointer;
          background: var(--info-color);
        }
      }
    }
  }
}

.react-grid-item {
  &.react-grid-item-edit {
    border: 0.1rem solid var(--danger-color);
  }

  .grid-hide-button {
    position: absolute;
    top: 0;
    right: 3%;
    width: 2vw;
    text-align: center;
    z-index: 100;
    border: 0.1rem solid var(--primary-color);
    background-color: rgba(28, 28, 15, 0.645); // add
    font-size: 1vmin;
  }

  .grid-hide-button:hover {
    cursor: pointer;
    background-color: rgba(28, 28, 15, 1);
  }

  .grid-name-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(28, 28, 15, 0.645);
  }
}

@media screen and (max-width: $screen-lg) {
  .react-grid-item {
    .grid-hide-button {
      width: 5vw;
      font-size: 2vmin;
    }
  }
}
