.no-session-found {
  display: flex;
  justify-content: center;
  border: 1px solid var(--info-bg-color);
  height: 100%;
}

.session-statistics-wrapper {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  overflow: auto;
  height: 100%;

  & > div {
    border: 0.1rem solid var(--primary-color);
    flex: 0 0 25%;
  }

  .session-statistic {
    & > div:first-child {
      text-align: center;
      width: 100%;
      font-weight: 700;
      color: var(--info-bg-color);
      background-color: rgba(var(--secondary-color), 0.1);
    }

    .stats-wrapper {
      display: flex;
      border-top: 0.1rem solid var(--primary-color);
      border-bottom: 0.1rem solid var(--primary-color);
    }

    .stats-header {
      color: var(--info-bg-color);
      text-align: center;
      justify-content: center;
      background-color: rgba(var(--secondary-color), 0.1);
    }

    .statistic-long {
      width: 70%;
      overflow: auto;
    }

    .statistic-short {
      width: 30%;
      overflow: auto;
      text-align: center;
    }

    .statistic-full {
      width: 100%;
      text-align: center;
    }
  }
}
