.cardbox-wrapper {
  background-color: var(--background-color);
  height: 100vh;
  overflow-y: auto;

  .cardbox-header {
    text-align: center;
    font-size: xx-large;

    background: linear-gradient(
      45deg,
      var(--background-color-lighter),
      var(--background-color)
    );
    border-bottom: 1px solid var(--secondary-color);
  }
}

.cardbox-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  & > div {
    flex: 0 1 20%;
    max-width: 20%;
    margin: 0.5rem;
    height: 20vh;
    background: linear-gradient(
      45deg,
      var(--background-color-lighter),
      var(--background-color)
    );
    border-radius: 0.4rem;
    padding: 0.5rem;
  }

  .remove-cardbox-btn {
    opacity: 0.8;
    width: 4vw;
    right: 1%;
    font-size: small;
    padding: 0.2rem;
  }
}

.common-card {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all;
  transition-duration: 300ms;

  &:hover {
    box-shadow: 0 1px 5px 1px var(--primary-color);
  }
}

.cardbox-title {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  padding: 0.1rem;
  overflow: auto;
  text-align: center;
  color: var(--primary-color);
  box-shadow: 0 5px 5px -3px var(--primary-color);
  padding-bottom: 0.1rem;

  font-size: 3vmin;
}

.cardbox-item {
  .cardbox-content {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: end;

    & > a,
    button,
    input {
      margin: 0.2rem;
      flex: 1 1 45%;
      display: flex;
      font-weight: 600;
      height: 5vh;
      color: var(--font-color);
    }
  }
}

.cardbox-input {
  .cardbox-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0.3rem;
    input {
      border-radius: 0.2rem;
      padding: 0.5rem 0.5rem;
    }

    button {
      height: 5vh;
      width: 100%;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: $screen-lg) {
  .cardbox-list {
    display: flex;
    justify-content: center;
    & > div {
      flex: 0 1 35%;
      max-width: 35%;
      height: 15vh;
    }
  }

  .cardbox-content {
    & > a {
      height: 2vh;
    }
  }
}
