// Blues
$blue-300: #93c5fd;
$blue-500: #3b82f6;
$blue-700: #1d4ed8;
// Grays
$gray-100: #f3f4f6;
$gray-300: #d1d5db;
$gray-500: #6b7280;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

// Greens
$green-200: #bbf7d0;
$green-300: #86efac;
$green-500: #22c55e;
$green-700: #15803d;

// Yellows
$yellow-200: #fef08a;
$yellow-400: #facc15;
$yellow-700: #a16207;

// Reds
$red-200: #fecaca;
$red-300: #fca5a5;
$red-500: #ef4444;
$red-700: #b91c1c;

// Violets
$violet-200: #ddd6fe;
$violet-300: #c4b5fd;
$violet-500: #8b5cf6;
$violet-700: #6d28d9;
