// Light mode
$background-color-light: #e5e7eb; // tailwind gray-200
$font-color-light: #374151; // tailwind gray-700
$accent-light: #061a35; // tailwind blue-950

// Dark mode
$background-color-dark: #1f2937; // tailwind gray-800
$font-color-dark: #f9fafb; // tailwind gray-50
$accent-dark: #f9fafb; // tailwind-gray-200

$spacing-xs: 0.5rem;
$spacing-sm: 0.75rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-2xl: 3rem;
$spacing-3xl: 4rem;

$border-radius-sm: 0.5rem;
$border-radius-md: 0.75rem;
$border-radius-lg: 1rem;

$transition-fast: 0.15s ease;
$transition-normal: 0.3s ease;
$transition-slow: 0.5s ease;

$screen-xs: 320px; /* Px for media queries for smallest screens */
$screen-sm: 480px; /* Px for media queries for small screens */
$screen-md: 768px; /* Px for media queries for medium screens */
$screen-lg: 1024px; /* Px for media queries for large screens */
$screen-ulg: 1200px; /* Px for media queries for ultra large screens */

$width-without-drawer: 98vw;

$default-overlay-box-shadow: 1px 2px 7px 4px var(--secondary-color);
$default-overlay-filter-opacity: opacity(70%);
$default-overlay-background-color: rgba(170, 196, 230, 0.7);
$default-overlay-text-color: var(--success-color);
