@use "sass:color";
@use "sass:map";
@use "./themes";

:root {
  @include themes.semantic-colors(map.get(themes.$themes, light));
  @include themes.theme-vars(map.get(themes.$themes, light));
}

[data-theme="dark"] {
  @include themes.semantic-colors(map.get(themes.$themes, dark));
  @include themes.theme-vars(map.get(themes.$themes, dark));
}
#root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--info-color);

  &:visited {
    color: var(--info-color);
  }
}

* {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
  }
  &::-webkit-scrollbar {
    width: 1vmin;
    height: 1.5vmin;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: linear-gradient(
      0deg,
      var(--background-color),
      var(--background-color-opposite)
    );
  }
}

/* DEFAULTS SCROLLBARS */

textarea::-webkit-resizer {
  background-color: var(--background-color);
}

textarea,
input,
button {
  border: 0;
  background: linear-gradient(
    20deg,
    var(--background-color-darker),
    var(--background-color-lighter)
  );
  color: var(--font-color);
}

textarea:focus,
input:focus {
  background-color: rgba(75, 72, 72, 0.446);
}

input {
  &::placeholder {
    color: var(--font-color);
    opacity: 0.4;
  }

  &:-ms-input-placeholder {
    color: var(--font-color);
    opacity: 0.4;
  }

  &::-ms-input-placeholder {
    color: var(--font-color);
    opacity: 0.4;
  }
}

/* DEFAULTS TABLES */
table {
  width: 97vw;
  border-collapse: collapse;

  thead th {
    background-color: var(--background-color-opposite);
    position: sticky;
    z-index: 1;
    top: 0;
    font-size: 1.2vw;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  tr {
    filter: brightness(95%);

    background-color: var(--background-color);
    &:nth-child(even) {
      background-color: var(--background-color-lighter);
    }
  }

  tbody {
    border: 2px solid black;
  }
}

.table-list-wrapper {
  font-size: 1.5vmin;
  height: 80vh;
  overflow-y: scroll;
}
/* DEFAULTS TABLES */

.table-list-pagination {
  opacity: 0.8;
  border-top: 0.1rem solid var(--secondary-color);
}

/* BUTTONS */

button,
a,
select {
  &.small-button {
    & > div {
      padding: 0.2rem;
      font-size: calc(0.3rem + 1vmin);
    }
  }

  &.medium-button {
    & > div {
      padding: 0.5rem;
      font-size: calc(0.5rem + 1vmin);
    }
  }

  &.large-button {
    & > div {
      padding: 1rem;
      font-size: calc(0.7rem + 1vmin);
    }
  }

  &.common-button {
    transition: transform 1s;
    overflow: hidden;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: all;
    transition-duration: 300ms;

    & > div {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    &:hover {
      filter: brightness(115%);
      filter: hue-rotate(15deg);
      cursor: pointer;
    }
  }

  &:active {
    opacity: 0.7;
  }

  &.primary-button {
    background: linear-gradient(
      40deg,
      var(--primary-color) 0,
      var(--secondary-color) 100%
    );
  }

  &.secondary-button {
    background: linear-gradient(
      40deg,
      var(--secondary-color) 0,
      var(--background-color) 100%
    );
  }

  &.tertiary-button {
    background: linear-gradient(
      40deg,
      var(--tertiary-color) 0,
      var(--secondary-color) 100%
    );
  }
  &.success-button {
    background: linear-gradient(
      40deg,
      var(--warning-color) 0,
      var(--success-color) 100%
    );
  }
  &.danger-button {
    background: linear-gradient(
      40deg,
      var(--danger-color) 0,
      var(--secondary-color) 100%
    );
  }
}

/* BUTTONS */

select {
  color: var(--font-color);
  background-color: var(--primary-color);
}

div {
  &.enabled {
    background-color: var(--success-color);

    &:hover {
      filter: brightness(120%) !important;
    }
  }

  &.disabled {
    background-color: var(--danger-color);
    &:hover {
      filter: brightness(120%) !important;
    }
  }
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.hidden {
  visibility: hidden;
}
