@use "sass:color";

:root {
  --background-color: #{$background-color-light};
  --background-color-opposite: #{color.scale(
      $background-color-dark,
      $lightness: 5%
    )};
  --background-color-darker: #{color.scale(
      $background-color-light,
      $lightness: -15%
    )};
  --background-color-lighter: #{color.scale(
      $background-color-light,
      $lightness: 30%
    )};
  --revert-background-color: #{color.scale(
      $background-color-dark,
      $lightness: 40%
    )};
  --font-color: #{$font-color-light};
  --info-bg-color: #{color.scale($info-color, $lightness: -25%)};
  --time-color: #{color.scale($info-color, $lightness: -50%)};
  --message-username-color: #{$danger-color};
}

[data-theme="dark"] {
  --background-color: #{$background-color-dark};
  --background-color-opposite: #{color.scale(
      $background-color-light,
      $lightness: -30%
    )};
  --background-color-darker: #{color.scale(
      $background-color-dark,
      $lightness: -15%
    )};
  --background-color-lighter: #{color.scale(
      $background-color-dark,
      $lightness: 30%
    )};
  --font-color: #{$font-color-dark};
  --revert-background-color: #{color.scale(
      $background-color-light,
      $lightness: -40%
    )};
  --info-bg-color: #{color.adjust($info-color, $hue: -30deg)};
  --time-color: #{color.scale($info-color, $lightness: 30%)};
  --message-username-color: #{$success-color};
}
#root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $link-color;

  &:visited {
    color: $link-color;
  }
}

* {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
  }
  &::-webkit-scrollbar {
    width: 1vmin;
    height: 1.5vmin;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: linear-gradient(
      0deg,
      var(--background-color),
      var(--background-color-opposite)
    );
  }
}

/* DEFAULTS SCROLLBARS */

textarea::-webkit-resizer {
  background-color: var(--background-color);
}

textarea,
input,
button {
  border: 0;
  background: linear-gradient(
    0deg,
    var(--background-color),
    var(--revert-background-color)
  );
  color: var(--font-color);
}

textarea:focus,
input:focus {
  background-color: rgba(75, 72, 72, 0.446);
}

input {
  &::placeholder {
    color: var(--font-color);
    opacity: 0.4;
  }

  &:-ms-input-placeholder {
    color: var(--font-color);
    opacity: 0.4;
  }

  &::-ms-input-placeholder {
    color: var(--font-color);
    opacity: 0.4;
  }
}

/* DEFAULTS TABLES */
table {
  width: 97vw;
  border-collapse: collapse;

  thead th {
    background-color: var(--background-color-opposite);
    position: sticky;
    z-index: 1;
    top: 0;
    font-size: 1.2vw;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  tr {
    filter: brightness(95%);

    background-color: var(--background-color);
    &:nth-child(even) {
      background-color: var(--background-color-lighter);
    }
  }

  tbody {
    border: 2px solid black;
  }
}

.table-list-wrapper {
  font-size: 1.5vmin;
  height: 80vh;
  overflow-y: scroll;
}
/* DEFAULTS TABLES */

.table-list-pagination {
  border-top: 0.3rem solid var(--revert-background-color);
}

/* BUTTONS */

button,
a,
select {
  &.common-button {
    transition: transform 1s;
    font-size: calc(0.5rem + 1vmin);
    overflow: hidden;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: all;
    transition-duration: 300ms;

    & > div {
      width: 100%;
      padding: 0.5rem;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    &:hover {
      filter: brightness(115%);
      filter: hue-rotate(15deg);
      cursor: pointer;
    }
  }

  &:active {
    opacity: 0.7;
  }

  &.primary-button {
    background: linear-gradient(40deg, $primary-color 0, $secondary-color 100%);
  }

  &.secondary-button {
    background: linear-gradient(
      40deg,
      $secondary-color 0,
      var(--background-color-darker) 100%
    );
  }

  &.tertiary-button {
    background: linear-gradient(
      40deg,
      $tertiary-color 0,
      $secondary-color 100%
    );
  }
  &.success-button {
    background: linear-gradient(40deg, $warning-color 0, $success-color 100%);
  }
  &.danger-button {
    background: linear-gradient(
      40deg,
      $danger-color 30%,
      $secondary-color 100%
    );
  }
}

/* BUTTONS */

select {
  color: var(--font-color);
  background-color: var(--revert-background-color);
}

div {
  &.enabled {
    background-color: $success-color;

    &:hover {
      background-color: #{color.scale($success-color, $lightness: 20%)} !important;
    }
  }

  &.disabled {
    background-color: $danger-color;
    &:hover {
      background-color: #{color.scale($danger-color, $lightness: 20%)} !important;
    }
  }
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.hidden {
  visibility: hidden;
}
