.stream-last-chatters {
  overflow: auto;
  height: 100%;

  & > div {
    &:not(:first-child) {
      border: 0.1rem solid rgba(var(--secondary-color), 0.3);
    }
  }

  .stream-last-chatters .limit {
    border: 0.1rem solid rgba(var(--warning-color), 0.3) !important;
  }

  .user-chatter {
    display: flex;
    background-color: rgba(var(--secondary-color), 0.1);

    min-height: 8%;
    align-items: center;
    margin: 0.5rem;
    padding-left: 1rem;
  }

  .user-chatter-username {
    font-size: 0.9vmin;
    border-right: 0.2rem solid var(--background-color);
    width: 60%;
    overflow-x: auto;
  }

  .user-chatter-last-seen {
    overflow-x: auto;
    text-align: center;
    font-size: 1.5vmin;
    width: 35%;
    color: var(--info-color);
  }
}
