/* Slideshow */

.slideshow-wrapper {
  .slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;

    .slideshow-slider {
      white-space: nowrap;
      transition: ease 1000ms;

      .slide {
        display: flex;
        width: 100%;
      }
    }

    .slideshow-dots {
      text-align: center;
      display: flex;
      justify-content: center;

      .slideshow-dot {
        flex: 0 0 5%;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        margin: 0px 7px 0px;
        background-color: var(--tertiary-color);

        &.active {
          filter: brightness(120%) !important;
        }
      }
      .slideshow-button-wrapper {
        font-size: 1rem;
      }
    }
  }
}
